<%- include('partials/header') %>

    <!-- Add background color to body -->

    <body style="background-color: #C7FFD8; margin: 0; font-family: Arial, sans-serif;">

        <!-- Centering container -->
        <div style="text-align: center; margin: 0 auto; padding: 20px;">
            <h1 style="text-align: center; margin: 40px 0; font-size: 2.5em; font-weight: bold; color: #333;">
                Power BI Report
            </h1>
            <iframe title="Demographic Analysis" width="1140" height="541.25"
                src="https://app.powerbi.com/reportEmbed?reportId=3ea0e813-e4ec-40de-9737-b47388e84a87&autoAuth=true&ctid=34bd8bed-2ac1-41ae-9f08-4e0a3f11706c"
                frameborder="0" allowFullScreen="true" style="display: block; margin: 0 auto;">
            </iframe>
        </div>

        <%- include('partials/footer') %>

    </body>