<%- include('partials/header') %>

    <!-- Add background color to body -->

    <body style="background-color: #C7FFD8; margin: 0; font-family: Arial, sans-serif;">

        <!-- Centering container -->
        <div style="text-align: center; margin: 0 auto; padding: 20px;">
            <h1 style="text-align: center; margin: 40px 0; font-size: 2.5em; font-weight: bold; color: #333;">
                Power BI Report
            </h1>
            <iframe title="Demographic Analysis" width="1140" height="541.25"
                src="https://app.powerbi.com/reportEmbed?reportId=3ea0e813-e4ec-40de-9737-b47388e84a87&autoAuth=true&ctid=34bd8bed-2ac1-41ae-9f08-4e0a3f11706c"
                frameborder="0" allowFullScreen="true" style="display: block; margin: 0 auto;">
            </iframe>
        </div>

        <!-- Footer Section -->
        <footer class="text-center">
            <div class="container">
                <div class="social-media mb-3">
                    <a href="#" class="mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                    <a href="mailto:info@neuralbraniacs.com" class="mx-2"><i class="fas fa-envelope"></i> Mail</a>
                    <a href="#" class="mx-2"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="#" class="mx-2"><i class="fab fa-twitter"></i> Twitter</a>
                    <a href="#" class="mx-2"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                </div>
                <p>&copy; 2024 NEURAL BRAINIACS. All rights reserved.</p>
            </div>
    </body>

    </html>