<%- include('partials/header') %>

  <!-- Hero Section -->
  <section id="hero" class="text-center">
    <div class="container">
      <h2>Operational Efficiency In Banking</h2>
      <p>
        Explore how NEURAL BRAINIACS is transforming the banking experience.
      </p>
    </div>
  </section>

  <!-- Introduction Section -->
  <section id="introduction">
    <div class="container">
      <div class="row align-items-center">
        <!-- Text Content -->
        <h2 class="introduction-h2">Transforming Banking Operations with AI and Blockchain</h2>
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <p>
            At Neural Brainiacs, we are dedicated to enhancing the operational
            efficiency of banking processes through the innovative integration
            of generative AI and advanced blockchain technology. Our solutions
            are designed to automate routine tasks, optimize workflows, and
            minimize errors, all while providing intelligent insights for
            process improvements and decision-making support.
          </p>
          <p>
            We tackle key challenges such as automating repetitive tasks,
            optimizing resource allocation, and implementing high-security
            measures using Ethereum blockchain to safeguard sensitive data.
            Our approach includes data preprocessing, machine learning model
            development, chatbot creation, and dynamic resource management to
            ensure a streamlined and secure banking experience.
          </p>
        </div>
        <!-- Video Container -->
        <div class="col-md-6 text-center">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/lApGl4Ji93k" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen title="Introduction Video"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Key Features Section -->
  <section id="features" class="text-center">
    <div class="container">
      <h2 class="fea">Key Features</h2>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
          <a href="https://colab.research.google.com/drive/1KZZ_5OBWoD8huxvDk3flhggtGpUUgMir?usp=sharing"
            target="_blank" class="feature-link">
            <div class="feature-box" id="aiMLFeature">
              <h3>AI/ML Integration</h3>
              <p>
                Leverage advanced machine learning models to optimize banking
                operations and customer experience.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <a href="https://colab.research.google.com/drive/1Gk0AbWKaOKERu0pju42DZlZhzzrotq-N?usp=sharing"
            target="_blank" class="feature-link">
            <div class="feature-box" id="blockchainFeature">
              <h3>Blockchain Security</h3>
              <p>
                Implement secure transactions and data integrity with blockchain
                technology.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <a href="biDashboard" class="feature-link">
            <div class="feature-box" id="blockchainFeature">
              <h3>Power BI Dashboards</h3>
              <p>
                Create dynamic, real-time analytical dashboards for better
                decision-making.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="feature-box" id="chatbotFeature">
            <h3>Chatbot System</h3>
            <p>
              Enhance customer interactions with our intelligent and
              user-friendly chatbot.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- News Letter 
  <section id="newsletter">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <h2>Newsletter</h2>
          <p>Stay updated with the latest news and updates. Sign up for our newsletter!</p>
          <p>Get the latest update</p>
        </div>
        <div class="col-md-6 text-center">
          <div class="newsletter-form mt-1">
            <form class="form-signin" action="/" method="post">
              <img class="mb-4 mt-1" src="/images/favicon_io/android-chrome-192x192.png" alt="Newsletter Logo"
                width="72" height="72" />
              <h1 class="h4 mb-3 font-weight-normal mt-2 mb-4">Sign Up for the Newsletter</h1>
              <input type="text" name="fname" class="form-control top" placeholder="First Name" required autofocus />
              <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required />
              <input type="email" name="email" class="form-control bottom" placeholder="Email" required />
              <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign Me Up!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
-->

  <!-- Testimonials Section -->
  <section id="testimonials" class="full-width-container ext-testimonial">
    <div class="container">
      <h2 class="user-test">User Testimonials</h2>
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active test-inner">
            <p>
              "NEURAL BRAINIACS transformed our banking operations with AI-driven efficiency."
            </p>
            <p>- Bank CEO</p>
          </div>
          <div class="carousel-item test-inner">
            <p>
              "The chatbot provided accurate, real-time assistance to our customers."
            </p>
            <p>- Customer Service Manager</p>
          </div>
          <!-- Add more testimonials here -->
        </div>
        <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  </section>

  <%- include('partials/footer') %>