<%- include('partials/header') %>

    <!-- Team Section -->
    <section id="teams" class="container-xxl py-4">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Our Team</h1>
            </div>
            <div class="row g-4">
                <!-- Team Member 1 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden img-container">
                            <img class="img-fluid team-image" src="images/nivedita.png" alt="Nivedita Srivastava">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="mailto:niveditasrivastava0720@gmail.com" target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="https://www.linkedin.com/in/niveditasri/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="#" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="https://www.instagram.com/nivedita_sri.07?igsh=cGUzMGs5dmp1d2Zr"
                                    target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Nivedita Srivastava</h5>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1.0s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden img-container">
                            <img class="img-fluid team-image" src="images/Jatin.png" alt="Jatin Mittal">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="mailto:mittaljatin2004@gmail.com"
                                    target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="https://www.linkedin.com/mwlite/profile/in/jatin-mittal-81424b250/
                                " target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="#" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="https://www.instagram.com/jatinmittal._?igsh=MW41OXk3c282dno4dQ=="
                                    target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Jatin Mittal</h5>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden img-container">
                            <img class="img-fluid team-image" src="images/Diksha.png" alt="Diksha Joshi">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="mailto:dikshajoshi240404@gmail.com"
                                    target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="#" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="#" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="#" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Diksha Joshi</h5>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden img-container">
                            <img class="img-fluid team-image" src="images/Harshit.png" alt="Harshit Raj">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="mailto:harshitraj232309@gmail.com"
                                    target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="https://www.linkedin.com/in/harshit-raj23/" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="https://x.com/HarshitRaj76964"
                                    target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btn btn-sm-square btn-primary mx-1"
                                    href="https://www.instagram.com/hr_harshit_raj/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Harshit Raj</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <%- include('partials/footer') %>